<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%date [%t] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.zman.stream.socket.pull.SocketClient" level="info"/>
    <logger name="com.zman.stream.socket.pull.SocketDuplex" level="info"/>
    <!--<logger name="'io.netty" level="info"/>-->

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>